---
const pageTitle = "私のAstro学習ブログ";
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
